* {
	margin: 0px;
	padding: 0px;
}

body{
	font-family: 'Helvetica', 'Arial', san-serifs;
	font-size: 1.5em;
	line-height:1.5em;
	background-color: #fffcf8;
	color: #444;
	font-weight: 300;
}

#container{
	width: 100%;
	padding-top: 15px;
	padding-left: 20px;
	margin: 0px auto;
	text-align: left;
	height: 100%;

}

#container h1 a, #container h1 a:hover{
	color: #222;
	text-decoration: none;
	font-weight:bold;
}

a{
	color: #ff5b4f;
	text-decoration: none;
}

blockquote{
	font-size: inherit;
}

#renderer blockquote p{
	margin: 0px;
}



#description{
	margin-bottom: 2em;
}

#menu #first-item{
	border: none;
	padding-left: 10px;
}

#top{
	float: left;
	width: 175px;
}

#top li a{
	font-weight: bold;
}

#top ul.posts{
	padding-left: 0px;
}

#content, #renderer{
 	position: relative;
	height: 75%;
	width: 600px;
	margin: 20px auto 200px auto;
}

#content{
	float: left;
	margin: 20px 0px 200px 0px;
}

#renderer{
	line-height: 23px;
	font-size: 17px;
	margin: 20px auto 200px auto;
}
ul, ol{
	padding-left: 25px;
}


ul.posts{
	list-style-type: none;
}

ul.posts li{
	line-height: 1.75em;
}
ul.posts span{
    color: #aaa;
    font-size: 90%;
}

#renderer > p:first-of-type{
	margin-top: 3em;
}
#renderer p{
	margin-bottom: 1em;
}

#notes{
	margin-top: 30px;
}

#renderer h1{
	text-transform: uppercase;
	font-size: 38px;
	letter-spacing: 3px;
	font-style: normal;
	text-align: center;
	font-weight: 300;
	color: #222;
	line-height: 1.2;
	margin-bottom: 0px;
}

#renderer h2{
    margin: 1em auto 0px auto;
    font-size: 1em;
    font-style: normal;
    font-weight: 300;
    text-align: center;
    overflow: auto;
}

#renderer h3, #content h3{
	color: #222;
	line-height: 1.2;
	font-size: 28px;
    font-weight: 400;
    margin-top: 10px;
}
#content h3{
	text-align: center;
}

#renderer h4{
	text-align: center;
	font-size: 13px;
	color: #666;
}


#renderer img, #content img{
	max-width: 100%;
}

#tutorial {

}


@media(max-width: 1000px){

    #content{
    	float:left;
    }
}

@media (max-width: 800px) {
	  
    #content,#renderer {
    	margin: 0px auto;
		padding: 0px 0px;
    }


	#top {
		padding: 0px auto;
		width: 100%;
	}

	#top ul.posts li{
		display: inline;
		padding-right: 10px;
		line-height:2em;
	}


}
@media (max-width: 650px) {

	#content,#renderer {
		width: 400px;
	}


}


@media (max-width: 500px) {

	#content,#renderer {
		width: 90%;
	}

}

