* {
	margin: 0px;
	padding: 0px;
}

body{
	font-size: 1.5em;
	background-color: #fffcf8;
	color: #666;
	//letter-spacing: 0px;
	line-height: 1.5em;
	font-family: Helvetica, "Nimbus Sans L", "Liberation Sans", Arial, sans-serif;
}

a{
	//text-decoration: none;
	//font-weight: bold;
	color: #ff5b4f;
}

a{
	text-decoration: none;
}

a:hover   {text-decoration: underline;}

h1,h2,h3{
	letter-spacing: 0px;
	margin-bottom:10px;
	margin-top: 0px;
}
h3{
	font-weight: normal;
	letter-spacing: 0px;
	text-decoration: underline;
}


#container{
	font-family: sans-serif;
	width: 100%;
}

#container{
	padding-top: 30px;
	padding-left: 20px;
	margin: 0px auto;
	text-align: left;
	height: 100%;
}

#container h1 a{
	color: #666;
}

.current{
	color: #5f7b4c;
	letter-spacing: 3px;
}
#description{
	margin-bottom: 2em;
}

#menu #first-item{
	border: none;
	padding-left: 10px;
}

#top{
	float: left;
	width: 150px;
}

#top li a{
	font-weight: bold;
}

#content{
 	position: relative;
	float: left;
	height: 75%;
	width: 600px;
	padding: 0px 50px;
}


#content p{
	margin-bottom: 20px
}

ul, ol{
	padding-left: 15px;
}


ul.posts{
	list-style-type: none;
	margin-bottom: 2em;
	padding-left: 0px;
}

ul.posts li{

	line-height: 1.75em;

}
ul.posts span{
    color: #aaa;
    font-size: 90%;
}

h4{
	font-weight: 300;
    line-height: 1.4;
}

@media (max-width: 780px) {
	  
    #content {
    	width: 400px;
    	margin: 0px auto;
		padding: 0px 0px;
    }
	#top {
		padding: 0px auto;
		//margin: 0px auto;
		width: 100%;
	}

	#top ul.posts li{
		display: inline;
		padding-right: 20px;
	}


}

@media (max-width: 500px) {
	#content {
    	width: 90%;
    }

}

