<% include ejs/header.ejs %>

	<!--<h2> Blog </h2>
-->



	<h2> Papers </h2>
	<ul class = "posts">
		
		<li>
			<span id = "date">May 06 2014</span> - <a href= "/pdf/bl356_AAS.pdf"> “Why are	Chinese	Restaurants	So Nasty?”: How Cultural Biases Influence Food Safety Standards in NYC </a> 
		</li>

	</ul>

	
<h3> 2013 HK Study Abroad </h3>
<ul class = "posts">

	<li><span id = "date">Apr 08 2013</span> — <a href= "hk/9-冒险去日本">冒险去日本</a></li>

	<li><span id = "date">Apr 06 2013</span> — <a href= "hk/8-笑话">笑话</a></li>

	<li><span id = "date">Mar 05 2013</span> — <a href= "hk/7-周末冒险在大埔">周末冒险在大埔</a></li>

	<li><span id = "date">Feb 22 2013</span> — <a href= "hk/6-一个半月消息">一个半月消息</a>
	</li>

	<li><span id = "date">Feb 20 2013</span> — <a href= "hk/5-TVB">TVB</a></li>

	<li><span id = "date">Feb 16 2013</span> — <a href= "hk/4-中国，中国">中国，中国</a>
	</li>

	<li><span id = "date">Feb 11 2013</span> — <a href= "hk/3-春节假期第三日">春节假期第三日</a>
	</li>

	<li><span id = "date">Feb 10 2013</span> — <a href= "hk/2-去广州">去广州</a></li>

	<li><span id = "date">Feb 08 2013</span> — <a href= "hk/1-介绍我在香港大学留学博客">介绍我在香港大学留学博客</a></li>
		
<% include ejs/footer.ejs %>