<% include ejs/header.ejs %>

<div id = "content">
	<h3> Projects </h3>
	<ul class = "posts">
		<li><span id = "date">Feb 2016</span> - <a href= "https://www.npmjs.com/package/blog-archiver">Archive Page Generator</a> 
		</li>

		<li><span id = "date">Feb 2016</span> - <a href= "writing/2016-02-20-vpn-digital-ocean">Setting up a VPN on Digital Ocean</a> 
		</li>

		<li><span id = "date">Feb 2016</span> - <a href= "writing/2016-02-19-auto-deploy-node">Automatic Deployment with Git on a VPS for Node.js</a> 
		</li>

		<li><span id = "date">July 2014</span> - <a href= "https://github.com/blin17/node_mean_skeleton">Node.js Skeleton</a> 
		</li>
		
		<li><span id = "date">May 2014</span> - <a href= "http://www.projects.brianlin.net/3d_sky/sky.html">3D Balloons w/ three.js</a> </li>						
		
		<li><span id = "date">Mar 2014</span> - <a href= "http://www.projects.brianlin.net/startup_funding/">Startup Age vs. Funding</a> </li>		

		<li><span id = "date">Dec 2013</span>  - <a href= "https://github.com/blin17/twitter-weather-predictor">Twitter Weather Predictor</a>
		</li>

		<li><span id = "date">May 2013</span>  - <a href= "http://www.projects.brianlin.net/nba_kmeans/nba_kmeans.html"> NBA Position Predictor </a>
		</li>
	</ul>
</div>
<% include ejs/footer.ejs %>