<% include ejs/header.ejs %>


					<h2> Projects </h2>
					<ul class = "posts">
						<li><span id = "date">May 2014</span> - <a href= "http://www.projects.brianlin.net/weibo/">Weibo Followers by Province</a> 
						</li>

						<li><span id = "date">May 2014</span> - <a href= "http://www.projects.brianlin.net/3d_sky/sky.html">3D Balloons w/ three.js</a> </li>						
						
						<li><span id = "date">Mar 2014</span> - <a href= "http://www.projects.brianlin.net/startup_funding/">Startup Age vs. Funding</a> </li>		

						<li><span id = "date">Dec 2013</span>  - <a href= "http://github.com/blin17/Twitter_Weather_Predictor">Twitter Weather Predictor</a>
						</li>

						<li><span id = "date">May 2013</span>  - <a href= "http://www.projects.brianlin.net/nba_kmeans/nba_kmeans.html"> NBA Position Predictor </a>
						</li>

					</ul>


			

<% include ejs/footer.ejs %>